{%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign color_white_label = 'general.label.white' | t | downcase -%}
{%- assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id -%}
{%- assign variant_picker_block = section.blocks | where: 'type', 'variant_picker' | first -%}
{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{%- if buy_buttons_block != blank -%}
  <style>
    @media screen and (min-width: 1000px) {
      :root {
        --anchor-offset: 140px; /* When the sticky form is activate, every scroll must be offset by an extra value */
      }
    }
    .product-sticky-form__image{
      width: 50px;
      height: auto;
    }
  </style>
  
  <product-sticky-form form-id="{{ product_form_id }}" hidden class="product-sticky-form">
    <div class="container">
      <div class="product-sticky-form__inner">
        <div class="product-sticky-form__content-wrapper hidden-pocket">
          <div class="product-sticky-form__image-wrapper">
            {%- assign featured_media = product.selected_or_first_available_variant.featured_image | default: product.featured_media -%}
            <img class="product-sticky-form__image" loading="lazy" sizes="55px" {% render 'image-attributes', image: featured_media, sizes: '55,110,165' %}>
          </div>

          <div class="product-sticky-form__info">
            <div class="product-sticky-form__bottom-info">
              <span class="product-sticky-form__title">{{ product.title }}</span>
            
              {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
                <span class="product-sticky-form__price price--highlight">
                  {%- if settings.currency_code_enabled -%}
                  {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                {%- else -%}
                  {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                {%- endif -%}
                </span>

                <span class="price price--compare">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
      
                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.compare_at_price | money_with_currency -}}
                  {%- endif -%}
                </span>
              {%- else -%}
                <span class="product-sticky-form__price price price--large price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                  {%- if settings.currency_code_enabled -%}
                    {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- product.selected_or_first_available_variant.price | money_with_currency -}}
                  {%- endif -%}
                </span>
              {%- endif -%}
    
            {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
              <div class="price text--subdued price--highlight">
                <div class="unit-price-measurement">
                  <span class="unit-price-measurement__price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
                  <span class="unit-price-measurement__separator">/</span>
    
                  {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                    <span class="unit-price-measurement__reference-value">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
                  {%- endif -%}
    
                  <span class="unit-price-measurement__reference-unit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
                </div>
              </div>
            {%- endif -%}
            </div>
          </div>
        </div>
       
        {%- comment -%}This form is a simplified representation of the main form, and therefore uses its own code path{%- endcomment -%}
        <div class="product-sticky-form__form">
          <div class="product_sticky_form_Overview">
            <div class="Overview active">Overview</div>
            <div class="Specifications">Specifications</div>
          </div>
          
            <!-- add to cart -->
            <product-payment-container form-id="{{ product_form_id }}" class="product-sticky-form__payment-container">
              {%- capture button_content -%}
                {%- if product.template_suffix == 'pre-order' -%}
                  {{- 'product.form.pre_order' | t -}}
                {%- else -%}
                Buy Now
                {%- endif -%}
              {%- endcapture -%}
  
              <button id="StickyAddToCart" is="loader-button" form="{{ product_form_id }}" type="submit" data-product-add-to-cart-button {% unless buy_buttons_block.settings.show_payment_button %}data-use-primary{% endunless %} data-button-content="{{ button_content | escape }}" class="product-form__add-button button {% unless product.selected_or_first_available_variant.available %}button--ternary{% else %}{% if buy_buttons_block.settings.show_payment_button %}button--secondary{% else %}button--primary{% endif %}{% endunless %}" {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}>
                {%- if product.selected_or_first_available_variant.available -%}
                  {{- button_content -}}
                {%- else -%}
                  {{- 'product.form.sold_out' | t -}}
                {%- endif -%}
              </button>
            </product-payment-container>
        </div>
      </div>
    </div>
  </product-sticky-form>


{%- endif -%}
<script>
  (
      ()=>{
        $(".Overview").click(function() {
          $(this).addClass("active active::after").siblings("div").removeClass("active");
          $("html, body").animate({
            scrollTop: $(".jd_product_scroll_all").offset().top -160 + 'px' }, {duration: 500,easing: "swing"});
          return false;
        });
        $(".Specifications").click(function() {
          $(this).addClass("active active::after").siblings("div").removeClass("active");
          $("html, body").animate({
            scrollTop: $(".detailsTab-product_all").offset().top -100 + 'px' }, {duration: 500,easing: "swing"});
          return false;
        });
      }
    )()
  

</script>