
<div class="product-gifts">
  {%- if block.settings.title != blank -%}<h2 class="product-gifts-title">{{ block.settings.title }}</h2>{%- endif -%}
  {%- if block.settings.remark != blank -%}<div class='product-gifts-remark'>{{ block.settings.remark }}</div> {%- endif -%}
  {%- for product in block.settings.gift_products -%}
  <div class="product-gifts-content">
    <div class="product-gifts-content-wrap">
      <div class="product-gifts-content-left">
       <img
            class="product-item__primary-image"
            loading="lazy"
            data-media-id="{{ product.featured_media.id | escape }}"
            sizes="{{ sizes_attribute }}"
            {% render 'image-attributes',
              image: product.featured_media,
              sizes: '200,300,400,500,600,700,800,900,1000,1100,1200'
            %}
        >
      </div>
      <div class="product-gifts-content-right">
        <p class="product-gifts-content-title">{{ product.title }}</p>
        <p class="product-gifts-content-price">{{ product.price | money }} CAD <span style="font-size: 20px;color: red">-$75 CAD</span></p>
        <div class="product-gifts-btns" {%- if block.settings.isshow_cart == false -%} style="justify-content: flex-start" {%- endif -%}>
          <a class="product-gifts-content-button" href="{{ product.url }}">Learn More</a>
          {% if block.settings.isshow_cart %}
          {%- form 'product', product, is: 'product-form' -%}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
            <button
              is="loader-button"
              type="submit"
              class='product-gifts-content-button-buy'
            >
              Add Cart
            </button>
          {%- endform -%}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>