{%- capture minJsString -%}{% if shop.metafields.scm_review_importer.shop_info_setting.minJs -%}.min{%- endif %}{%- endcapture -%}
<div class="lai-popup-container"></div>
<script>
  var dataShop=[];
  {% for metafieldValue in  shop.metafields.scm_review_importer %}
      dataShop['{{ metafieldValue[0] }}']= `{{ metafieldValue[1] | json}}`;
  {% endfor %}
  dataShop['customer']={
    "email" : "{{customer.email}}",
    "name"  : "{{customer.name}}",
    "order" : "{{ customer.orders.size }}"
  };
  dataShop['orders']= {};
  {% for order in customer.orders %}
    {% for line_item in order.line_items %}
        dataShop['orders']['{{ line_item.id }}']= {{ line_item | json }};
    {% endfor %}
  {% endfor %}
  {% assign smaTemplateCurrent= template | split: '.' | first %}
  var scmCustomData = (typeof scmCustomData == "undefined" || scmCustomData == null) ? `{}` : scmCustomData;
  var dataShopFromLiquidLAI = (typeof dataShopFromLiquidLAI == "undefined" || dataShopFromLiquidLAI == null) ? `{}` : dataShopFromLiquidLAI;
  dataShopFromLiquidLAI= {
    "infoShop" : '{{ shop.metafields.scm_review_importer.shop_info_setting | json}}',
    "shopDomain" : '{{ shop.domain }}',
    'templateCurrent' : '{{ smaTemplateCurrent }}',
    "shopName" : '{{ shop.permanent_domain | remove: ".myshopify.com"}}',
    "templatePage" : '{{ template | split: '.' | first }}',
    "productMainId" : '{{ product.id }}',
    "productMainInfo" : {},
    "tabReviews": '{{ shop.metafields.scm_review_importer.reviews_highlightProductPage }}',
    "scmCustomData" : JSON.stringify(scmCustomData),
    "scmAccount" : {
      "email" : "{{customer.email}}",
      "name"  : "{{customer.name}}",
      "order" : "{{ customer.orders.size }}"
    },
    'current_language' : {
      'shop_locale' : {
        'locale' : "en"
      }
    },
    'dataShop' : dataShop
  }
  dataShopFromLiquidLAI['languages']= {{ shop.metafields.scm_review_importer.languages | json }};
  dataShopFromLiquidLAI['current_language']= {{ request.locale | json }};
  dataShopFromLiquidLAI.productMainInfo['product']= {{ product | json }};
  {% for metafieldValue in  product.metafields.scm_review_importer %}
      dataShopFromLiquidLAI.productMainInfo['{{ metafieldValue[0] }}']= `{{ metafieldValue[1] | json }}`;
  {% endfor %}
  var laiScriptTagGlobal = (typeof laiScriptTagGlobal == "undefined" || laiScriptTagGlobal == null) ?
    {
      "url" : "{{ shop.metafields.scm_review_importer.shop_info_setting.host }}/js/frontend/version-14/reviews-scripttag{{ minJsString }}.js?version={{ shop.metafields.scm_review_importer.shop_info_setting['version'] }}"
    }
    : laiScriptTagGlobal;
</script>
<script>
  var blockReviewPop= (typeof blockReviewPop == "undefined" || blockReviewPop == null) ? `{{ shop.metafields.scm_review_importer.review_pop }}` : blockReviewPop;
</script>
<div
	id="scm-reviews-shopSetting"
	data-shop='{{ shop.metafields.scm_review_importer.shop_info_setting | json}}'
	data-qa-setting='{{ shop.metafields.scm_review_importer.qaSetting | json }}'
></div>
{%- if content_for_header contains 'd1bu6z2uxfnay3.cloudfront.net' -%}
  <script src="{{ 'reviews-importer.js' | asset_url }}" async></script>
{% endif %}
{% assign smaTemplateCurrent= template | split: '.' | first %}
{% if smaTemplateCurrent == 'product' %}
{% assign countAverage = product.metafields.scm_review_importer.reviewsData.reviewCountInfo.average | plus: 0 %}
  {% if shop.metafields.scm_review_importer.shop_info_setting['jsonLd'] %}
    {%- if countAverage > 0 %}
    <script type="application/ld+json">
              {
                "@context": "https://schema.org/",
                "@type": "Product",
                "@id": {{ canonical_url | append: '#product' | json }},
                "name": {{ product.title | json }},
                "review": {{ product.metafields.scm_review_importer.reviewsData['seoReviews'] }},
                "aggregateRating": {
                  "@type": "AggregateRating",
                  "ratingValue": "{{ product.metafields.scm_review_importer.reviewsData.reviewCountInfo.average }}",
                  "ratingCount": "{{ product.metafields.scm_review_importer.reviewsData.reviewCountInfo.total }}"
                }
              }
            </script>
    {%- endif -%}
  {%- endif -%}
{% endif %}
