{{ 'cart-recommendations.css' | asset_url | stylesheet_tag }}

{%- assign use_recommendations = true -%}

{%- if section.settings.products.count > 0 -%}
  {%- assign use_recommendations = false -%}
{%- endif -%}  
<div
  class="product-recommendations cart_alsoLike"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ cart.items.first.product_id }}&limit={{section.settings.recommendations_count}}"
>
  <div class="container ">
    {%- if recommendations.performed and recommendations.products_count > 0 -%}
    <header class="section__header recommendations_head">
      <div class="text-container">
        {%- if section.settings.subheading != blank -%}
          <h2 class="heading heading--small">{{ section.settings.subheading }}</h2>
        {%- endif -%}

        {%- if section.settings.title != blank -%}
          <h3 class="heading h3">{{ section.settings.title }}</h3>
        {%- endif -%}
      </div>
    </header>
    <div class="swiper alsolikeSwipers">
      <div class="swiper-wrapper">
        {%- if use_recommendations -%}
          {%- for product in recommendations.products -%}
          <div class="swiper-slide">
            {%- render 'product-item', product: product -%}
          </div>
          {%- endfor -%}
          {%- else -%}
          {%- for product in section.settings.products -%}
          <div class="swiper-slide">
            {%- render 'product-item', product: product -%}
          </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div> 
    {%- endif -%}
  </div>
  
</div>

{% javascript %}
  const handleIntersection = (entries, observer) => {
    if (!entries[0].isIntersecting) return;

    observer.unobserve(productRecommendationsSection);

    const url = productRecommendationsSection.dataset.url;

    fetch(url)
      .then(response => response.text())
      .then(text => {
        const html = document.createElement('div');
        html.innerHTML = text;
        const recommendations = html.querySelector('.product-recommendations');

        if (recommendations && recommendations.innerHTML.trim().length) {
          productRecommendationsSection.innerHTML = recommendations.innerHTML;
          var swiper = new Swiper(".alsolikeSwipers", {
           
            pagination: {
              el: ".swiper-pagination",
              type: "fraction",
            },
            navigation: {
              nextEl: ".swiper-button-next",
              prevEl: ".swiper-button-prev",
            },
            breakpoints: {
              280: {  //当屏幕宽度大于等于320
                slidesPerView: 1.4,
                spaceBetween: 16,
              },
              768: {  //当屏幕宽度大于等于768 
                slidesPerView: 3,
                spaceBetween: 16,
              },
              1400: {  //当屏幕宽度大于等于1280
                slidesPerView: 4,
                spaceBetween: 23,
              }
            } 
          });
        }
      })
      .catch(e => {
        console.error(e);
      });
  };

  const productRecommendationsSection = document.querySelector('.product-recommendations');
  const observer = new IntersectionObserver(handleIntersection, {rootMargin: '0px 0px 200px 0px'});

  observer.observe(productRecommendationsSection);
{% endjavascript %}




{% schema %}
{
  "name": "cart recommendation",
  "class": "shopify-section--product-recommendation",
  "settings": [
    {
      "type": "paragraph",
      "content": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products). You can manually select products by adding content."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "range",
      "id": "recommendations_count",
      "min": 3,
      "max": 10,
      "label": "Recommendations count",
      "default": 3
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Manual products",
      "info": "When selected, automatic recommendations do not show.",
      "limit": 10
    }
    
  
  ],
  "presets": [
    {
      "name": "cart recommendation"
    }
  ]
}
{% endschema %}