
  <div class="index-service-container">
    <div class="pc">
      <div class="background-box">
        {% for item in section.blocks %}
          <img loading="lazy" src="{{item.settings.backgroundimage | img_url: '1920x'}}" alt="{{ item.settings.backgroundimage.alt }}">
        {% endfor %}
      </div>
      <div class="marsk"></div>
      <div class="container">
        <div class="video-back-box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="style__DialRing-i08x1e-6-SvgDialRing dwpNPm"><path d="M49.22 100v-1h.08v1zm1.51-1h.09v1h-.08zm-3 1v-1h.08v1zm4.52-1h.09v1h-.08zm-6 .91l.07-1h.09l-.08 1zm7.54-1h.08l.07 1h-.08zm-9.06.86l.11-1h.08l-.11 1zm10.55-1h.08l.11 1h-.09zm-12.06.82l.13-1h.09l-.14 1zm13.54-1h.08l.14 1h-.08zm-15 .77l.16-1h.09l-.17 1zm16.53-1h.08l.17 1h-.09zm-18 .71l.2-1h.08l-.2 1zm19.5-1h.08l.19 1h-.08zm-21 .66l.23-1h.08l-.23 1zm22.45-1h.08l.22 1h-.07zm-23.93.6l.26-1h.07l-.25 1zm25.38-1h.08l.25 1h-.07zm-26.85.55L36 97h.08l-.29 1zM64 97h.08l.28 1h-.08zm-29.75.5l.32-1h.08l-.31 1zm31.17-1h.08l.32 1h-.08zM32.8 97l.35-1h.08l-.34 1zm34-.94h.08l.34 1h-.08zm-35.45.39l.38-.93h.07l-.37.93zm36.85-.92h.08l.37.94h-.08zm-38.2.31l.4-.93h.08l-.4.92zm39.63-.92h.08l.4.93h-.08zm-41 .28l.43-.9h.07l-.43.91zM71 94.29h.08l.43.91h-.08zm-43.74.24l.46-.89h.07l-.45.9zm45.09-.9h.07l.46.9h-.08zm-46.43.19l.48-.88h.08l-.49.88zm47.76-.9h.06l.48.88h-.07zm-49.08.14l.51-.86h.07l-.51.87zm50.37-.87h.07l.51.87h-.07zm-51.67.08l.54-.85h.07l-.54.85zm52.94-.87h.07l.54.85h-.07zM22 91.43l.56-.83.07.05-.57.83zm55.46-.85h.07l.57.83h-.07zm-56.71 0l.59-.82.06.05-.58.82zm57.94-.83h.06l.6.81-.07.05zm-59.16-.08l.61-.8.07.05-.62.8zm60.36-.82h.06l.62.8h-.07zm-61.56-.15l.64-.78.03.08-.64.77zm62.73-.8l.06-.05.64.77-.07.06zm-63.89-.18l.66-.76.06.06-.66.75zm65-.79l.06-.05.66.76h-.06zM16 86.7l.69-.74.06.06-.68.74zm67.28-.77l.06-.05.69.74h-.07zm-68.38-.28l.71-.72.06.06-.71.72zm69.46-.75l.06-.06.71.72-.06.06zm-70.53-.34l.73-.7.06.07-.73.69zm71.58-.72v-.06l.73.69-.06.06zm-72.62-.4l.75-.67.06.06-.75.68zm73.63-.7l.06-.06.75.67-.06.06zm-74.63-.45l.77-.65.05.07-.76.65zm75.61-.67l.06-.07.77.65-.06.07zm-76.58-.51l.79-.62v.06l-.78.63zm77.53-.65l.05-.06.79.62v.07zm-78.43-.55l.81-.61v.07L10 80zm79.37-.63v-.07l.81.6-.05.07zM9 78.67l.82-.58.05.07-.83.58zm81.14-.6V78l.83.58-.05.06zm-82-.66l.86-.56.05.08-.85.55zM91 76.83v-.07l.84.55v.08zm-83.65-.71l.86-.53v.07l-.86.53zm84.45-.55v-.07l.86.53v.07zM6.57 74.8l.87-.5v.08l-.88.5zm86-.51v-.07l.88.5v.07zm-86.74-.82l.89-.47v.08l-.89.47zM93.28 73v-.07l.89.47v.08zm-88.14-.89l.9-.45v.08l-.91.44zM94 71.66v-.08l.9.45v.07zm-89.52-.93l.92-.42v.07l-.92.42zm90.12-.42v-.07l.91.41v.08zm-90.73-1l.92-.38V69l-.93.39zM95.2 69v-.08l.93.39v.08zM3.3 68l.94-.35v.07l-.91.28zm92.45-.33v-.08l.94.36v.08zm-93-1.1l1-.33v.08l-1 .33zm93.5-.31v-.07l1 .33v.08zM2.29 65l1-.29v.08l-1 .3zm94.45-.26v-.08l1 .3v.08zM1.85 63.55l1-.27v.08l-1 .28zm95.32-.24v-.08l1 .27v.09zM1.46 62.08l1-.24v.08l-1 .24zm96.09-.21v-.08l1 .24v.08zM1.12 60.59l1-.21v.08l-1 .22zm96.77-.18v-.08l1 .22v.08zM.82 59.1l1-.18V59l-1 .18zm97.36-.1v-.08l1 .18v.08zM.57 57.6l1-.16v.09l-1 .15zm97.86-.12v-.09l1 .15v.09zM.36 56.09l1-.13v.09l-1 .12zM98.63 56v-.09l1 .12v.09zM.2 54.57l1-.09v.08l-1 .09zm98.59-.06v-.08l1 .09v.08zM.09 53.05l1-.06v.08l-1 .06zm98.82 0v-.08l1 .06v.08zM0 51.52h1v.09H0zm99 0v-.09h1v.09zm0-3.07h1v.09h-1zm-99 .04v-.08h1v.09zM98.9 47l1-.06V47h-1zM.09 47v-.08l1 .06V47zm98.7-1.5l1-.09v.08l-1 .1zM.2 45.45v-.09l1 .1v.08zM98.63 44l1-.13V44l-1 .12zM.36 43.94v-.09l1 .12v.08zm98.07-1.43l1-.16v.09l-1 .15zM.57 42.42v-.08l1 .15v.09zM98.18 41l1-.18v.08l-1 .18zM.82 40.92v-.08l1 .18v.08zm97.06-1.35l1-.22v.09l-1 .21zm-96.76-.15v-.08l1 .22v.08zm96.43-1.31l1-.24v.08l-1 .24zm-96.09-.17v-.08l1 .24v.08zm95.7-1.27l1-.28v.09l-1 .27zm-95.31-.21v-.08l1 .28v.08zm94.88-1.22l1-.31v.08l-1 .31zM2.28 35v-.08l1 .31v.08zm94-1.19l.95-.33v.08l-.95.33zm-93.5-.26v-.08l1 .33v.09zm93-1.14l.94-.37v.08l-.94.36zm-92.49-.29v-.08l.94.36v.08zm.56-1.41v-.08l.93.39v.08zm91.33.29l.93-.39v.07l-.93.39zM4.46 29.31v-.07l.91.42v.07zm90.12.33l.92-.41v.07l-.91.42zm-89.47-1.7v-.07l.9.44v.08zm88.83.35l.9-.44v.07l-.9.45zM5.8 26.59v-.08l.89.48v.07zm87.45.41l.89-.47v.07l-.89.47zM6.54 25.25v-.07l.87.5v.07zm86 .4l.87-.5v.07l-.87.5zM7.31 23.94l.05-.07.85.53v.07zm84.45.42l.86-.52v.07l-.86.53zm-83.63-1.7v-.07l.84.55v.07zM91 23.1l.84-.55v.07l-.84.55zM9 21.4v-.07l.82.58v.06zm81.14.47l.82-.58v.07l-.82.57zM9.87 20.16l.05-.07.81.61-.05.06zm79.37.5l.81-.61v.07l-.81.6zM10.8 19v-.06l.79.62-.05.07zm77.53.52l.78-.63.06.07-.79.63zm-76.57-1.7l.06-.06.77.65-.06.06zm75.62.55l.76-.66.06.07-.77.65zm-74.62-1.7l.06-.06.75.67-.06.07zm73.63.57l.75-.67.06.06-.75.67zM13.8 15.5l.06-.06.72.7-.05.06zm71.58.6l.72-.7.06.06-.73.7zm-70.51-1.68l.06-.06.7.72-.06.05zm69.46.58l.7-.71h.06l-.71.72zM16 13.36v-.06l.68.74-.06.06zm67.24.64l.69-.74.06.06-.69.74zM17.1 12.34l.06-.06.66.76-.06.06zm65 .67l.66-.76.06.05-.66.76zm-63.84-1.66h.07l.64.78-.07.05zM81 12l.64-.78.06.06-.64.78zm-61.54-1.6l.06-.05.62.8h-.07zm60.36.72l.61-.8h.07l-.62.8zM20.68 9.49l.07-.05.59.81-.07.05zm57.94.74l.59-.82.07.05-.59.81zM21.93 8.61H22l.56.84h-.07zm55.47.76l.6-.83h.07l-.56.84zm-54.2-1.6h.08l.54.85h-.08zm53 .78l.54-.85h.07l-.54.85zM24.51 7h.07l.51.87h-.07zm50.37.81l.51-.87h.07l-.46.88zm-49-1.57h.08l.48.88h-.07zm47.7.76l.49-.88h.07l-.49.88zm-46.4-1.51h.07l.46.89h-.07zm45.08.85l.46-.9h.08l-.46.9zM28.55 4.82h.08l.43.91h-.08zm42.38.86l.43-.91h.07l-.43.95zm-41-1.5h.08l.4.92h-.08zm39.63.89l.4-.93h.08l-.4.92zM31.35 3.59h.08l.37.93h-.08zm36.85.9l.37-.93h.08l-.38.93zM66.8 4l.35-1h.08l-.35 1zM32.78 3h.08l.34 1h-.08zm32.61.43l.31-1h.09l-.32 1zm-31.17-.89h.08l.32 1h-.08zM64 3l.29-1h.08L64 3zm-28.32-.92h.08L36 3zm26.84.54l.26-1h.08l-.26 1zm-25.38-1h.09l.25 1h-.08zm23.93.6l.23-1h.08l-.22 1zm-22.44-1h.08l.22 1h-.08zm21 .65l.2-1h.08l-.2 1zM40.12 1h.08l.2 1h-.09zm18 .71l.17-1h.08l-.16 1zM41.61.69h.09l.16 1h-.08zm15.06.76l.13-1h.09l-.14 1zM43.12.46h.09l.13 1h-.08zm12.06.81l.11-1h.08l-.1 1zM44.64.28h.08l.11 1h-.09zm9 .86l.08-1h.08l-.07 1zm-7.52-1h.07l.07 1h-.08zm6 .91v-1h.08v1zm-4.52-1h.08l.05 1h-.09zM49.2 0h.08v1h-.08zm1.51 1V0h.08v1z"></path></svg>
          <div class="video-box Hideimg">
            {% if section.settings.blog.articles != blank %}

              {% for article in section.settings.blog.articles limit:3 %}
                  <a href="{{article.url}}">
                    <img loading="lazy" src="{{article.image | img_url: '1920x'}}" alt="{{ article.image.alt }}">
                  </a>
                {% endfor %}
              {% else %}
              {% for item in section.blocks %}
                  <a href="{{item.settings.article.url}}">
                    <img loading="lazy" src="{{item.settings.article.image | img_url: '1920x'}}" alt="{{ item.settings.article.image.alt }}">
                  </a>
              {% endfor %}
            {% endif %}
          </div> 
          <div class="border-box"></div>
        </div>
        <div class="dist"></div>
        <div class="info-box">
          <canvas class="canvas" id="bgCanvas" ></canvas>
          <div class="left">
            <div class="subtitle">
              BEECOOLBIKES
            </div>
            <div class="title">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 257.03 86.71"><defs><style>.aaa{fill:#fff;}</style></defs><path class="aaa" d="M63.37,53.89a17.59,17.59,0,0,0-7.35-8,26.65,26.65,0,0,0-9.55-3.26,28.62,28.62,0,0,0,7.6-3.47,27.59,27.59,0,0,0,8.06-7.88,21.78,21.78,0,0,0,3.51-8.75C66.4,17,64.89,12.29,61.17,8.7S51.4,3.36,43.07,3.36c-1.12,0-3,0-5.82.12-5.27.15-11.34.15-17,0q-4.2-.12-6.75-.23a1,1,0,0,0-1,.83l-.32,2.3a1,1,0,0,0,.22.75.92.92,0,0,0,.69.34,8,8,0,0,1,3.48.73,2.41,2.41,0,0,1,1,2,31.53,31.53,0,0,1-.41,6.07L9.42,73.43a32.8,32.8,0,0,1-1.24,6,3.65,3.65,0,0,1-1.67,2.22,11.4,11.4,0,0,1-3.87.83,1,1,0,0,0-.87.83l-.32,2.3a1,1,0,0,0,.26.79,1,1,0,0,0,.7.3h.08c1.71-.15,4-.25,6.77-.29s5.7,0,8.65,0c3.8,0,7.11,0,9.84.17s4.86.17,6.29.17A42.54,42.54,0,0,0,49,84.31a23.74,23.74,0,0,0,10.61-7.62,26.89,26.89,0,0,0,5.12-13.14A18.12,18.12,0,0,0,63.37,53.89Zm-34,19.8,3.85-28.32h.41c4.69,0,7.73,1.42,9.29,4.34s2,7.44,1.27,13.12C43.32,69.13,41.92,74,40,77.4c-1.82,3.2-4.14,4.76-7.12,4.76a5.94,5.94,0,0,1-3.05-.56c-.48-.28-.77-1-.85-2A31.09,31.09,0,0,1,29.36,73.69ZM39,9c.59-1,1.68-1.49,3.34-1.49,1.11,0,2.66.37,3.27,3.54.53,2.77.42,7-.33,12.54a60.86,60.86,0,0,1-1.94,9.12A18.22,18.22,0,0,1,40,39.24a6.19,6.19,0,0,1-5,2.25h-1.3l3.39-24.94C37.78,11.76,38.5,9.78,39,9Z" transform="translate(-1.45 -1.63)"/><path class="aaa" d="M118.24,53.7h-2a1,1,0,0,0-.93.71,59.12,59.12,0,0,1-4,10.48,57.49,57.49,0,0,1-5.55,9,33.42,33.42,0,0,1-5.89,6.16,8.26,8.26,0,0,1-4.7,2.1H92.16a4.73,4.73,0,0,1-2.29-.39c-.32-.18-.51-.63-.57-1.33A21.7,21.7,0,0,1,89.57,76l8.08-59.44A27.86,27.86,0,0,1,99,10.5a3.87,3.87,0,0,1,2-2.25,12.14,12.14,0,0,1,4.33-.78,1,1,0,0,0,.92-.83l.31-2.3a1,1,0,0,0-.24-.78.92.92,0,0,0-.75-.31c-1.85.07-4.19.15-7,.23s-5.72.11-8.69.11c-3.21,0-6.23,0-9-.11s-5-.16-6.75-.23a.94.94,0,0,0-1,.83l-.32,2.3a1,1,0,0,0,.22.75.94.94,0,0,0,.7.34,8,8,0,0,1,3.47.73,2.41,2.41,0,0,1,1,2,30.72,30.72,0,0,1-.41,6.07L69.94,73.43a32.8,32.8,0,0,1-1.24,6A3.67,3.67,0,0,1,67,81.68a11.53,11.53,0,0,1-3.88.83,1,1,0,0,0-.87.83L62,85.64a1,1,0,0,0,.23.77,1,1,0,0,0,.75.32q3.91-.11,8.31-.17L80,86.44q4.32,0,8,0h6.09q4.44,0,10.11,0c3.76,0,7.17.14,10.14.29h.05a1,1,0,0,0,1-.9c.25-4,.61-8,1.07-11.75s.81-6.66,1.09-8.69c.58-4.26,1.15-7.8,1.7-10.54a1,1,0,0,0-1-1.15Z" transform="translate(-1.45 -1.63)"/><path class="aaa" d="M179.6,6.77C174.87,3.36,169,1.63,162.12,1.63A33.65,33.65,0,0,0,143.45,7.2a45.24,45.24,0,0,0-14.22,15.42,62,62,0,0,0-7.5,22.93c-1.2,8.86-.81,16.56,1.16,22.88S128.29,79.8,133,83.21s10.61,5.14,17.48,5.14a33.83,33.83,0,0,0,18.71-5.57,44.69,44.69,0,0,0,14.23-15.42,62.63,62.63,0,0,0,7.45-22.93c1.21-8.93.83-16.65-1.15-22.94A27.82,27.82,0,0,0,179.6,6.77ZM158.81,79.54c-2.45,3.19-5,4.81-7.67,4.81-2.43,0-4.44-1.44-6.14-4.41-1.78-3.13-3-7.69-3.49-13.55a95.46,95.46,0,0,1,.85-21A117.26,117.26,0,0,1,147,24.44a47.88,47.88,0,0,1,6.85-14c2.46-3.19,5-4.81,7.68-4.81,2.43,0,4.44,1.44,6.14,4.41,1.78,3.13,3,7.67,3.49,13.49a95,95,0,0,1-.85,21.1,117.39,117.39,0,0,1-4.59,20.85C163.71,71.45,161.4,76.18,158.81,79.54Z" transform="translate(-1.45 -1.63)"/><path class="aaa" d="M256,49.79c-1.49.08-3.43.15-5.84.23s-5,.11-7.84.11c-1.77,0-3.72,0-5.84-.05L230.4,50c-1.93,0-3.59-.09-4.92-.17a1,1,0,0,0-1,.83l-.31,2.3a.93.93,0,0,0,.22.75,1,1,0,0,0,.7.34,11.59,11.59,0,0,1,5.09,1,3.67,3.67,0,0,1,1.62,3.07,38.17,38.17,0,0,1-.47,8.18l-1.57,11.52a11.32,11.32,0,0,1-.84,3.18,5.45,5.45,0,0,1-1.45,2,5.39,5.39,0,0,1-1.7.88,7.66,7.66,0,0,1-2.25.3c-3.87,0-6.54-2.9-8.17-8.86-1.69-6.21-1.61-16.28.24-29.91a115.75,115.75,0,0,1,2.63-13.2,69.4,69.4,0,0,1,4.5-12.49,30.58,30.58,0,0,1,6.46-9.16,11.71,11.71,0,0,1,8.36-3.37,12.06,12.06,0,0,1,4.32.85,10.91,10.91,0,0,1,3.68,2.32,15.52,15.52,0,0,1,4.43,9A70,70,0,0,1,250.24,33a1,1,0,0,0,.26.72,1,1,0,0,0,.7.3h2.05a1,1,0,0,0,.95-.83c1-7.26,1.82-13.17,2.48-17.56s1.25-8.17,1.79-11.21a1,1,0,0,0-.22-.78.94.94,0,0,0-.73-.34h-2a1,1,0,0,0-.94.76c-1.22,5.71-2.22,6.14-2.23,6.15s-.38-.05-.89-.69A25.29,25.29,0,0,0,244.87,4c-2.61-1.55-6.11-2.33-10.41-2.33A35.16,35.16,0,0,0,215.31,7.2a45.05,45.05,0,0,0-14.54,15.41,61.08,61.08,0,0,0-7.59,22.94c-1.2,8.84-1,16.52.65,22.84s4.89,11.4,9.58,14.82,10.88,5.14,18.46,5.14a21.88,21.88,0,0,0,8.27-1.75,62,62,0,0,0,8-3.92,27.64,27.64,0,0,1,4.17-2.1,6,6,0,0,1,1.75-.41c.39,0,.65.49.78,1.46a18.77,18.77,0,0,1,.13,4.05,1,1,0,0,0,.24.74,1,1,0,0,0,.71.31h1.78a1,1,0,0,0,1-.83l3.11-22.81a55.52,55.52,0,0,1,1.1-6.22,4.15,4.15,0,0,1,1.1-2.25,3.5,3.5,0,0,1,1.9-.61,1,1,0,0,0,.89-.83l.31-2.3a.93.93,0,0,0-.25-.78A1,1,0,0,0,256,49.79Z" transform="translate(-1.45 -1.63)"/></svg>
            </div>
            <div class="button-box">
              <div class="befor">
                
              </div>
                {% if section.settings.blog.articles != blank %}
                  {% for article in section.settings.blog.articles limit:3%}
                  <a href="{{section.settings.link}}" class="button button_a active">
                    {{section.settings.buttonText}}
                  </a>
                  {% endfor %}
                {% else %}
               
              
                {% for item in section.blocks %}
                <a href="{{section.settings.link}}" class="button button_a active">
                    {{section.settings.buttonText}}
                </a>
                {% endfor %}
              {%endif%}
              <div class="after">
  
              </div>
            </div>
          </div>
          <div class="center">
            {% if section.settings.blog.articles != blank %}

              {% for article in section.settings.blog.articles limit:3%}
                <div class="box active">
                  <div class="title">
                    {{article.title}}
                  </div>
                  <div class="description">
          
                    {{article.excerpt_or_content | strip_html}}
                  </div>
                </div>
              {% endfor %}
            
              {% else %}
              {% for item in section.blocks %}
              <div class="box active">
                <div class="title">
                  {{item.settings.article.title}}
                </div>
                <div class="description">
                  {{item.settings.article.content | strip_html}}
                </div>
              </div>
            {% endfor %}
             
            {%endif%}
          </div>
          <div class="right">
            <div class="box">
              {% if section.settings.blog.articles != blank %}
                {% for article in section.settings.blog.articles limit:3%}
                <div class="item">
                  <div class="tips">
                    {{ article.tags.first }}
                  </div>
                  <div style="word-break: break-all; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: right; margin-right: 5px;" class="tips-content">
                    {{ article.tags.first }}
                  </div>
                  <div class="img-box Hideimg">
                    <img loading="lazy" src="{{article.image | img_url: '1920x'}}" alt="{{ article.image.alt }}">
                  </div>
                </div>
            {% endfor %}
                {% else %}
                {% for item in section.blocks %}
                <div class="item">
                  <div class="tips">
                    {{ item.settings.article.tags.first }}
                  </div>
                  <div style="word-break: break-all; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: right; margin-right: 5px;" class="tips-content">
                    {{ item.settings.article.tags.first }}
                  </div>
                  <div class="img-box Hideimg">
                    <img loading="lazy" src="{{item.settings.article.image | img_url: '1920x'}}" alt="{{ item.settings.article.image.alt }}">
                  </div>
                </div>
              {% endfor %}
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile">
        <div>
          
          <div class="marsk"></div>
          <div class="container">
            <div class="swiper indexBolgSwiper">
              <div class="swiper-wrapper">

                {% if section.settings.blog.articles != blank %}
                  {% for article in section.settings.blog.articles limit:3%}
                  <div class="swiper-slide" style="background-size: cover; background-position: center; background-repeat: no-repeat; background: url({{section.settings.backgroundimage_mobile | img_url: '1920x'}}); ">
                    <div class="video-parentMobile_box">
                      <!-- top content -->
                      <div class="left">
                        <div class="subtitle">
                          {{article.settings.tag}}
                        </div>
                        <div class="title">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 257.03 86.71"><defs><style>.aaa{fill:#fff;}</style></defs><path class="aaa" d="M63.37,53.89a17.59,17.59,0,0,0-7.35-8,26.65,26.65,0,0,0-9.55-3.26,28.62,28.62,0,0,0,7.6-3.47,27.59,27.59,0,0,0,8.06-7.88,21.78,21.78,0,0,0,3.51-8.75C66.4,17,64.89,12.29,61.17,8.7S51.4,3.36,43.07,3.36c-1.12,0-3,0-5.82.12-5.27.15-11.34.15-17,0q-4.2-.12-6.75-.23a1,1,0,0,0-1,.83l-.32,2.3a1,1,0,0,0,.22.75.92.92,0,0,0,.69.34,8,8,0,0,1,3.48.73,2.41,2.41,0,0,1,1,2,31.53,31.53,0,0,1-.41,6.07L9.42,73.43a32.8,32.8,0,0,1-1.24,6,3.65,3.65,0,0,1-1.67,2.22,11.4,11.4,0,0,1-3.87.83,1,1,0,0,0-.87.83l-.32,2.3a1,1,0,0,0,.26.79,1,1,0,0,0,.7.3h.08c1.71-.15,4-.25,6.77-.29s5.7,0,8.65,0c3.8,0,7.11,0,9.84.17s4.86.17,6.29.17A42.54,42.54,0,0,0,49,84.31a23.74,23.74,0,0,0,10.61-7.62,26.89,26.89,0,0,0,5.12-13.14A18.12,18.12,0,0,0,63.37,53.89Zm-34,19.8,3.85-28.32h.41c4.69,0,7.73,1.42,9.29,4.34s2,7.44,1.27,13.12C43.32,69.13,41.92,74,40,77.4c-1.82,3.2-4.14,4.76-7.12,4.76a5.94,5.94,0,0,1-3.05-.56c-.48-.28-.77-1-.85-2A31.09,31.09,0,0,1,29.36,73.69ZM39,9c.59-1,1.68-1.49,3.34-1.49,1.11,0,2.66.37,3.27,3.54.53,2.77.42,7-.33,12.54a60.86,60.86,0,0,1-1.94,9.12A18.22,18.22,0,0,1,40,39.24a6.19,6.19,0,0,1-5,2.25h-1.3l3.39-24.94C37.78,11.76,38.5,9.78,39,9Z" transform="translate(-1.45 -1.63)"/><path class="aaa" d="M118.24,53.7h-2a1,1,0,0,0-.93.71,59.12,59.12,0,0,1-4,10.48,57.49,57.49,0,0,1-5.55,9,33.42,33.42,0,0,1-5.89,6.16,8.26,8.26,0,0,1-4.7,2.1H92.16a4.73,4.73,0,0,1-2.29-.39c-.32-.18-.51-.63-.57-1.33A21.7,21.7,0,0,1,89.57,76l8.08-59.44A27.86,27.86,0,0,1,99,10.5a3.87,3.87,0,0,1,2-2.25,12.14,12.14,0,0,1,4.33-.78,1,1,0,0,0,.92-.83l.31-2.3a1,1,0,0,0-.24-.78.92.92,0,0,0-.75-.31c-1.85.07-4.19.15-7,.23s-5.72.11-8.69.11c-3.21,0-6.23,0-9-.11s-5-.16-6.75-.23a.94.94,0,0,0-1,.83l-.32,2.3a1,1,0,0,0,.22.75.94.94,0,0,0,.7.34,8,8,0,0,1,3.47.73,2.41,2.41,0,0,1,1,2,30.72,30.72,0,0,1-.41,6.07L69.94,73.43a32.8,32.8,0,0,1-1.24,6A3.67,3.67,0,0,1,67,81.68a11.53,11.53,0,0,1-3.88.83,1,1,0,0,0-.87.83L62,85.64a1,1,0,0,0,.23.77,1,1,0,0,0,.75.32q3.91-.11,8.31-.17L80,86.44q4.32,0,8,0h6.09q4.44,0,10.11,0c3.76,0,7.17.14,10.14.29h.05a1,1,0,0,0,1-.9c.25-4,.61-8,1.07-11.75s.81-6.66,1.09-8.69c.58-4.26,1.15-7.8,1.7-10.54a1,1,0,0,0-1-1.15Z" transform="translate(-1.45 -1.63)"/><path class="aaa" d="M179.6,6.77C174.87,3.36,169,1.63,162.12,1.63A33.65,33.65,0,0,0,143.45,7.2a45.24,45.24,0,0,0-14.22,15.42,62,62,0,0,0-7.5,22.93c-1.2,8.86-.81,16.56,1.16,22.88S128.29,79.8,133,83.21s10.61,5.14,17.48,5.14a33.83,33.83,0,0,0,18.71-5.57,44.69,44.69,0,0,0,14.23-15.42,62.63,62.63,0,0,0,7.45-22.93c1.21-8.93.83-16.65-1.15-22.94A27.82,27.82,0,0,0,179.6,6.77ZM158.81,79.54c-2.45,3.19-5,4.81-7.67,4.81-2.43,0-4.44-1.44-6.14-4.41-1.78-3.13-3-7.69-3.49-13.55a95.46,95.46,0,0,1,.85-21A117.26,117.26,0,0,1,147,24.44a47.88,47.88,0,0,1,6.85-14c2.46-3.19,5-4.81,7.68-4.81,2.43,0,4.44,1.44,6.14,4.41,1.78,3.13,3,7.67,3.49,13.49a95,95,0,0,1-.85,21.1,117.39,117.39,0,0,1-4.59,20.85C163.71,71.45,161.4,76.18,158.81,79.54Z" transform="translate(-1.45 -1.63)"/><path class="aaa" d="M256,49.79c-1.49.08-3.43.15-5.84.23s-5,.11-7.84.11c-1.77,0-3.72,0-5.84-.05L230.4,50c-1.93,0-3.59-.09-4.92-.17a1,1,0,0,0-1,.83l-.31,2.3a.93.93,0,0,0,.22.75,1,1,0,0,0,.7.34,11.59,11.59,0,0,1,5.09,1,3.67,3.67,0,0,1,1.62,3.07,38.17,38.17,0,0,1-.47,8.18l-1.57,11.52a11.32,11.32,0,0,1-.84,3.18,5.45,5.45,0,0,1-1.45,2,5.39,5.39,0,0,1-1.7.88,7.66,7.66,0,0,1-2.25.3c-3.87,0-6.54-2.9-8.17-8.86-1.69-6.21-1.61-16.28.24-29.91a115.75,115.75,0,0,1,2.63-13.2,69.4,69.4,0,0,1,4.5-12.49,30.58,30.58,0,0,1,6.46-9.16,11.71,11.71,0,0,1,8.36-3.37,12.06,12.06,0,0,1,4.32.85,10.91,10.91,0,0,1,3.68,2.32,15.52,15.52,0,0,1,4.43,9A70,70,0,0,1,250.24,33a1,1,0,0,0,.26.72,1,1,0,0,0,.7.3h2.05a1,1,0,0,0,.95-.83c1-7.26,1.82-13.17,2.48-17.56s1.25-8.17,1.79-11.21a1,1,0,0,0-.22-.78.94.94,0,0,0-.73-.34h-2a1,1,0,0,0-.94.76c-1.22,5.71-2.22,6.14-2.23,6.15s-.38-.05-.89-.69A25.29,25.29,0,0,0,244.87,4c-2.61-1.55-6.11-2.33-10.41-2.33A35.16,35.16,0,0,0,215.31,7.2a45.05,45.05,0,0,0-14.54,15.41,61.08,61.08,0,0,0-7.59,22.94c-1.2,8.84-1,16.52.65,22.84s4.89,11.4,9.58,14.82,10.88,5.14,18.46,5.14a21.88,21.88,0,0,0,8.27-1.75,62,62,0,0,0,8-3.92,27.64,27.64,0,0,1,4.17-2.1,6,6,0,0,1,1.75-.41c.39,0,.65.49.78,1.46a18.77,18.77,0,0,1,.13,4.05,1,1,0,0,0,.24.74,1,1,0,0,0,.71.31h1.78a1,1,0,0,0,1-.83l3.11-22.81a55.52,55.52,0,0,1,1.1-6.22,4.15,4.15,0,0,1,1.1-2.25,3.5,3.5,0,0,1,1.9-.61,1,1,0,0,0,.89-.83l.31-2.3a.93.93,0,0,0-.25-.78A1,1,0,0,0,256,49.79Z" transform="translate(-1.45 -1.63)"/></svg>
                        </div>
                      </div>
                      <!-- animation css -->
                      <div class="video-back-box">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="style__DialRing-i08x1e-6-SvgDialRing dwpNPm"><path d="M49.22 100v-1h.08v1zm1.51-1h.09v1h-.08zm-3 1v-1h.08v1zm4.52-1h.09v1h-.08zm-6 .91l.07-1h.09l-.08 1zm7.54-1h.08l.07 1h-.08zm-9.06.86l.11-1h.08l-.11 1zm10.55-1h.08l.11 1h-.09zm-12.06.82l.13-1h.09l-.14 1zm13.54-1h.08l.14 1h-.08zm-15 .77l.16-1h.09l-.17 1zm16.53-1h.08l.17 1h-.09zm-18 .71l.2-1h.08l-.2 1zm19.5-1h.08l.19 1h-.08zm-21 .66l.23-1h.08l-.23 1zm22.45-1h.08l.22 1h-.07zm-23.93.6l.26-1h.07l-.25 1zm25.38-1h.08l.25 1h-.07zm-26.85.55L36 97h.08l-.29 1zM64 97h.08l.28 1h-.08zm-29.75.5l.32-1h.08l-.31 1zm31.17-1h.08l.32 1h-.08zM32.8 97l.35-1h.08l-.34 1zm34-.94h.08l.34 1h-.08zm-35.45.39l.38-.93h.07l-.37.93zm36.85-.92h.08l.37.94h-.08zm-38.2.31l.4-.93h.08l-.4.92zm39.63-.92h.08l.4.93h-.08zm-41 .28l.43-.9h.07l-.43.91zM71 94.29h.08l.43.91h-.08zm-43.74.24l.46-.89h.07l-.45.9zm45.09-.9h.07l.46.9h-.08zm-46.43.19l.48-.88h.08l-.49.88zm47.76-.9h.06l.48.88h-.07zm-49.08.14l.51-.86h.07l-.51.87zm50.37-.87h.07l.51.87h-.07zm-51.67.08l.54-.85h.07l-.54.85zm52.94-.87h.07l.54.85h-.07zM22 91.43l.56-.83.07.05-.57.83zm55.46-.85h.07l.57.83h-.07zm-56.71 0l.59-.82.06.05-.58.82zm57.94-.83h.06l.6.81-.07.05zm-59.16-.08l.61-.8.07.05-.62.8zm60.36-.82h.06l.62.8h-.07zm-61.56-.15l.64-.78.03.08-.64.77zm62.73-.8l.06-.05.64.77-.07.06zm-63.89-.18l.66-.76.06.06-.66.75zm65-.79l.06-.05.66.76h-.06zM16 86.7l.69-.74.06.06-.68.74zm67.28-.77l.06-.05.69.74h-.07zm-68.38-.28l.71-.72.06.06-.71.72zm69.46-.75l.06-.06.71.72-.06.06zm-70.53-.34l.73-.7.06.07-.73.69zm71.58-.72v-.06l.73.69-.06.06zm-72.62-.4l.75-.67.06.06-.75.68zm73.63-.7l.06-.06.75.67-.06.06zm-74.63-.45l.77-.65.05.07-.76.65zm75.61-.67l.06-.07.77.65-.06.07zm-76.58-.51l.79-.62v.06l-.78.63zm77.53-.65l.05-.06.79.62v.07zm-78.43-.55l.81-.61v.07L10 80zm79.37-.63v-.07l.81.6-.05.07zM9 78.67l.82-.58.05.07-.83.58zm81.14-.6V78l.83.58-.05.06zm-82-.66l.86-.56.05.08-.85.55zM91 76.83v-.07l.84.55v.08zm-83.65-.71l.86-.53v.07l-.86.53zm84.45-.55v-.07l.86.53v.07zM6.57 74.8l.87-.5v.08l-.88.5zm86-.51v-.07l.88.5v.07zm-86.74-.82l.89-.47v.08l-.89.47zM93.28 73v-.07l.89.47v.08zm-88.14-.89l.9-.45v.08l-.91.44zM94 71.66v-.08l.9.45v.07zm-89.52-.93l.92-.42v.07l-.92.42zm90.12-.42v-.07l.91.41v.08zm-90.73-1l.92-.38V69l-.93.39zM95.2 69v-.08l.93.39v.08zM3.3 68l.94-.35v.07l-.91.28zm92.45-.33v-.08l.94.36v.08zm-93-1.1l1-.33v.08l-1 .33zm93.5-.31v-.07l1 .33v.08zM2.29 65l1-.29v.08l-1 .3zm94.45-.26v-.08l1 .3v.08zM1.85 63.55l1-.27v.08l-1 .28zm95.32-.24v-.08l1 .27v.09zM1.46 62.08l1-.24v.08l-1 .24zm96.09-.21v-.08l1 .24v.08zM1.12 60.59l1-.21v.08l-1 .22zm96.77-.18v-.08l1 .22v.08zM.82 59.1l1-.18V59l-1 .18zm97.36-.1v-.08l1 .18v.08zM.57 57.6l1-.16v.09l-1 .15zm97.86-.12v-.09l1 .15v.09zM.36 56.09l1-.13v.09l-1 .12zM98.63 56v-.09l1 .12v.09zM.2 54.57l1-.09v.08l-1 .09zm98.59-.06v-.08l1 .09v.08zM.09 53.05l1-.06v.08l-1 .06zm98.82 0v-.08l1 .06v.08zM0 51.52h1v.09H0zm99 0v-.09h1v.09zm0-3.07h1v.09h-1zm-99 .04v-.08h1v.09zM98.9 47l1-.06V47h-1zM.09 47v-.08l1 .06V47zm98.7-1.5l1-.09v.08l-1 .1zM.2 45.45v-.09l1 .1v.08zM98.63 44l1-.13V44l-1 .12zM.36 43.94v-.09l1 .12v.08zm98.07-1.43l1-.16v.09l-1 .15zM.57 42.42v-.08l1 .15v.09zM98.18 41l1-.18v.08l-1 .18zM.82 40.92v-.08l1 .18v.08zm97.06-1.35l1-.22v.09l-1 .21zm-96.76-.15v-.08l1 .22v.08zm96.43-1.31l1-.24v.08l-1 .24zm-96.09-.17v-.08l1 .24v.08zm95.7-1.27l1-.28v.09l-1 .27zm-95.31-.21v-.08l1 .28v.08zm94.88-1.22l1-.31v.08l-1 .31zM2.28 35v-.08l1 .31v.08zm94-1.19l.95-.33v.08l-.95.33zm-93.5-.26v-.08l1 .33v.09zm93-1.14l.94-.37v.08l-.94.36zm-92.49-.29v-.08l.94.36v.08zm.56-1.41v-.08l.93.39v.08zm91.33.29l.93-.39v.07l-.93.39zM4.46 29.31v-.07l.91.42v.07zm90.12.33l.92-.41v.07l-.91.42zm-89.47-1.7v-.07l.9.44v.08zm88.83.35l.9-.44v.07l-.9.45zM5.8 26.59v-.08l.89.48v.07zm87.45.41l.89-.47v.07l-.89.47zM6.54 25.25v-.07l.87.5v.07zm86 .4l.87-.5v.07l-.87.5zM7.31 23.94l.05-.07.85.53v.07zm84.45.42l.86-.52v.07l-.86.53zm-83.63-1.7v-.07l.84.55v.07zM91 23.1l.84-.55v.07l-.84.55zM9 21.4v-.07l.82.58v.06zm81.14.47l.82-.58v.07l-.82.57zM9.87 20.16l.05-.07.81.61-.05.06zm79.37.5l.81-.61v.07l-.81.6zM10.8 19v-.06l.79.62-.05.07zm77.53.52l.78-.63.06.07-.79.63zm-76.57-1.7l.06-.06.77.65-.06.06zm75.62.55l.76-.66.06.07-.77.65zm-74.62-1.7l.06-.06.75.67-.06.07zm73.63.57l.75-.67.06.06-.75.67zM13.8 15.5l.06-.06.72.7-.05.06zm71.58.6l.72-.7.06.06-.73.7zm-70.51-1.68l.06-.06.7.72-.06.05zm69.46.58l.7-.71h.06l-.71.72zM16 13.36v-.06l.68.74-.06.06zm67.24.64l.69-.74.06.06-.69.74zM17.1 12.34l.06-.06.66.76-.06.06zm65 .67l.66-.76.06.05-.66.76zm-63.84-1.66h.07l.64.78-.07.05zM81 12l.64-.78.06.06-.64.78zm-61.54-1.6l.06-.05.62.8h-.07zm60.36.72l.61-.8h.07l-.62.8zM20.68 9.49l.07-.05.59.81-.07.05zm57.94.74l.59-.82.07.05-.59.81zM21.93 8.61H22l.56.84h-.07zm55.47.76l.6-.83h.07l-.56.84zm-54.2-1.6h.08l.54.85h-.08zm53 .78l.54-.85h.07l-.54.85zM24.51 7h.07l.51.87h-.07zm50.37.81l.51-.87h.07l-.46.88zm-49-1.57h.08l.48.88h-.07zm47.7.76l.49-.88h.07l-.49.88zm-46.4-1.51h.07l.46.89h-.07zm45.08.85l.46-.9h.08l-.46.9zM28.55 4.82h.08l.43.91h-.08zm42.38.86l.43-.91h.07l-.43.95zm-41-1.5h.08l.4.92h-.08zm39.63.89l.4-.93h.08l-.4.92zM31.35 3.59h.08l.37.93h-.08zm36.85.9l.37-.93h.08l-.38.93zM66.8 4l.35-1h.08l-.35 1zM32.78 3h.08l.34 1h-.08zm32.61.43l.31-1h.09l-.32 1zm-31.17-.89h.08l.32 1h-.08zM64 3l.29-1h.08L64 3zm-28.32-.92h.08L36 3zm26.84.54l.26-1h.08l-.26 1zm-25.38-1h.09l.25 1h-.08zm23.93.6l.23-1h.08l-.22 1zm-22.44-1h.08l.22 1h-.08zm21 .65l.2-1h.08l-.2 1zM40.12 1h.08l.2 1h-.09zm18 .71l.17-1h.08l-.16 1zM41.61.69h.09l.16 1h-.08zm15.06.76l.13-1h.09l-.14 1zM43.12.46h.09l.13 1h-.08zm12.06.81l.11-1h.08l-.1 1zM44.64.28h.08l.11 1h-.09zm9 .86l.08-1h.08l-.07 1zm-7.52-1h.07l.07 1h-.08zm6 .91v-1h.08v1zm-4.52-1h.08l.05 1h-.09zM49.2 0h.08v1h-.08zm1.51 1V0h.08v1z"></path></svg>
                        <div class="video-box Hideimg">
                          <a href="{{article.url}}">
                            <img loading="lazy" src="{{article.image | img_url: '1920x'}}" alt="{{ article.image.alt }}">
                          </a>
                        </div> 
                        <div class="border-box"></div>
                      </div>
                      <div class="dist">
                        <div>
                          
                        </div>
                      </div>
                      <div class="info-box">
                        <div class="center">
                        
                          <div class="box active">
                            <div class="title">
                              {{article.title}}
                            </div>
                            <div class="description">
                              {{article.content | strip_html}}
                            </div>
                          </div>
                        </div>
                        <div class="button-box">
                          <div class="befor">
                            
                          </div>
                          <a href="{{section.settings.link}}" class="button ">
                            {{section.settings.buttonText}}
                          </a>
                          <div class="after">
              
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  {%endfor%}
                {% else %}
                  {% for item in section.blocks %}
                    <div class="swiper-slide" style="background-size: cover; background-position: center; background-repeat: no-repeat; background: url({{item.settings.backgroundimage_mobile | img_url: '1920x'}}); ">
                      <div class="video-parentMobile_box">
                        <!-- top content -->
                        <div class="left">
                          <div class="subtitle">
                            {{item.settings.article.tag}}
                          </div>
                          <div class="title">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 257.03 86.71"><defs><style>.aaa{fill:#fff;}</style></defs><path class="aaa" d="M63.37,53.89a17.59,17.59,0,0,0-7.35-8,26.65,26.65,0,0,0-9.55-3.26,28.62,28.62,0,0,0,7.6-3.47,27.59,27.59,0,0,0,8.06-7.88,21.78,21.78,0,0,0,3.51-8.75C66.4,17,64.89,12.29,61.17,8.7S51.4,3.36,43.07,3.36c-1.12,0-3,0-5.82.12-5.27.15-11.34.15-17,0q-4.2-.12-6.75-.23a1,1,0,0,0-1,.83l-.32,2.3a1,1,0,0,0,.22.75.92.92,0,0,0,.69.34,8,8,0,0,1,3.48.73,2.41,2.41,0,0,1,1,2,31.53,31.53,0,0,1-.41,6.07L9.42,73.43a32.8,32.8,0,0,1-1.24,6,3.65,3.65,0,0,1-1.67,2.22,11.4,11.4,0,0,1-3.87.83,1,1,0,0,0-.87.83l-.32,2.3a1,1,0,0,0,.26.79,1,1,0,0,0,.7.3h.08c1.71-.15,4-.25,6.77-.29s5.7,0,8.65,0c3.8,0,7.11,0,9.84.17s4.86.17,6.29.17A42.54,42.54,0,0,0,49,84.31a23.74,23.74,0,0,0,10.61-7.62,26.89,26.89,0,0,0,5.12-13.14A18.12,18.12,0,0,0,63.37,53.89Zm-34,19.8,3.85-28.32h.41c4.69,0,7.73,1.42,9.29,4.34s2,7.44,1.27,13.12C43.32,69.13,41.92,74,40,77.4c-1.82,3.2-4.14,4.76-7.12,4.76a5.94,5.94,0,0,1-3.05-.56c-.48-.28-.77-1-.85-2A31.09,31.09,0,0,1,29.36,73.69ZM39,9c.59-1,1.68-1.49,3.34-1.49,1.11,0,2.66.37,3.27,3.54.53,2.77.42,7-.33,12.54a60.86,60.86,0,0,1-1.94,9.12A18.22,18.22,0,0,1,40,39.24a6.19,6.19,0,0,1-5,2.25h-1.3l3.39-24.94C37.78,11.76,38.5,9.78,39,9Z" transform="translate(-1.45 -1.63)"/><path class="aaa" d="M118.24,53.7h-2a1,1,0,0,0-.93.71,59.12,59.12,0,0,1-4,10.48,57.49,57.49,0,0,1-5.55,9,33.42,33.42,0,0,1-5.89,6.16,8.26,8.26,0,0,1-4.7,2.1H92.16a4.73,4.73,0,0,1-2.29-.39c-.32-.18-.51-.63-.57-1.33A21.7,21.7,0,0,1,89.57,76l8.08-59.44A27.86,27.86,0,0,1,99,10.5a3.87,3.87,0,0,1,2-2.25,12.14,12.14,0,0,1,4.33-.78,1,1,0,0,0,.92-.83l.31-2.3a1,1,0,0,0-.24-.78.92.92,0,0,0-.75-.31c-1.85.07-4.19.15-7,.23s-5.72.11-8.69.11c-3.21,0-6.23,0-9-.11s-5-.16-6.75-.23a.94.94,0,0,0-1,.83l-.32,2.3a1,1,0,0,0,.22.75.94.94,0,0,0,.7.34,8,8,0,0,1,3.47.73,2.41,2.41,0,0,1,1,2,30.72,30.72,0,0,1-.41,6.07L69.94,73.43a32.8,32.8,0,0,1-1.24,6A3.67,3.67,0,0,1,67,81.68a11.53,11.53,0,0,1-3.88.83,1,1,0,0,0-.87.83L62,85.64a1,1,0,0,0,.23.77,1,1,0,0,0,.75.32q3.91-.11,8.31-.17L80,86.44q4.32,0,8,0h6.09q4.44,0,10.11,0c3.76,0,7.17.14,10.14.29h.05a1,1,0,0,0,1-.9c.25-4,.61-8,1.07-11.75s.81-6.66,1.09-8.69c.58-4.26,1.15-7.8,1.7-10.54a1,1,0,0,0-1-1.15Z" transform="translate(-1.45 -1.63)"/><path class="aaa" d="M179.6,6.77C174.87,3.36,169,1.63,162.12,1.63A33.65,33.65,0,0,0,143.45,7.2a45.24,45.24,0,0,0-14.22,15.42,62,62,0,0,0-7.5,22.93c-1.2,8.86-.81,16.56,1.16,22.88S128.29,79.8,133,83.21s10.61,5.14,17.48,5.14a33.83,33.83,0,0,0,18.71-5.57,44.69,44.69,0,0,0,14.23-15.42,62.63,62.63,0,0,0,7.45-22.93c1.21-8.93.83-16.65-1.15-22.94A27.82,27.82,0,0,0,179.6,6.77ZM158.81,79.54c-2.45,3.19-5,4.81-7.67,4.81-2.43,0-4.44-1.44-6.14-4.41-1.78-3.13-3-7.69-3.49-13.55a95.46,95.46,0,0,1,.85-21A117.26,117.26,0,0,1,147,24.44a47.88,47.88,0,0,1,6.85-14c2.46-3.19,5-4.81,7.68-4.81,2.43,0,4.44,1.44,6.14,4.41,1.78,3.13,3,7.67,3.49,13.49a95,95,0,0,1-.85,21.1,117.39,117.39,0,0,1-4.59,20.85C163.71,71.45,161.4,76.18,158.81,79.54Z" transform="translate(-1.45 -1.63)"/><path class="aaa" d="M256,49.79c-1.49.08-3.43.15-5.84.23s-5,.11-7.84.11c-1.77,0-3.72,0-5.84-.05L230.4,50c-1.93,0-3.59-.09-4.92-.17a1,1,0,0,0-1,.83l-.31,2.3a.93.93,0,0,0,.22.75,1,1,0,0,0,.7.34,11.59,11.59,0,0,1,5.09,1,3.67,3.67,0,0,1,1.62,3.07,38.17,38.17,0,0,1-.47,8.18l-1.57,11.52a11.32,11.32,0,0,1-.84,3.18,5.45,5.45,0,0,1-1.45,2,5.39,5.39,0,0,1-1.7.88,7.66,7.66,0,0,1-2.25.3c-3.87,0-6.54-2.9-8.17-8.86-1.69-6.21-1.61-16.28.24-29.91a115.75,115.75,0,0,1,2.63-13.2,69.4,69.4,0,0,1,4.5-12.49,30.58,30.58,0,0,1,6.46-9.16,11.71,11.71,0,0,1,8.36-3.37,12.06,12.06,0,0,1,4.32.85,10.91,10.91,0,0,1,3.68,2.32,15.52,15.52,0,0,1,4.43,9A70,70,0,0,1,250.24,33a1,1,0,0,0,.26.72,1,1,0,0,0,.7.3h2.05a1,1,0,0,0,.95-.83c1-7.26,1.82-13.17,2.48-17.56s1.25-8.17,1.79-11.21a1,1,0,0,0-.22-.78.94.94,0,0,0-.73-.34h-2a1,1,0,0,0-.94.76c-1.22,5.71-2.22,6.14-2.23,6.15s-.38-.05-.89-.69A25.29,25.29,0,0,0,244.87,4c-2.61-1.55-6.11-2.33-10.41-2.33A35.16,35.16,0,0,0,215.31,7.2a45.05,45.05,0,0,0-14.54,15.41,61.08,61.08,0,0,0-7.59,22.94c-1.2,8.84-1,16.52.65,22.84s4.89,11.4,9.58,14.82,10.88,5.14,18.46,5.14a21.88,21.88,0,0,0,8.27-1.75,62,62,0,0,0,8-3.92,27.64,27.64,0,0,1,4.17-2.1,6,6,0,0,1,1.75-.41c.39,0,.65.49.78,1.46a18.77,18.77,0,0,1,.13,4.05,1,1,0,0,0,.24.74,1,1,0,0,0,.71.31h1.78a1,1,0,0,0,1-.83l3.11-22.81a55.52,55.52,0,0,1,1.1-6.22,4.15,4.15,0,0,1,1.1-2.25,3.5,3.5,0,0,1,1.9-.61,1,1,0,0,0,.89-.83l.31-2.3a.93.93,0,0,0-.25-.78A1,1,0,0,0,256,49.79Z" transform="translate(-1.45 -1.63)"/></svg>
                          </div>
                        </div>
                        <!-- animation css -->
                        <div class="video-back-box">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="style__DialRing-i08x1e-6-SvgDialRing dwpNPm"><path d="M49.22 100v-1h.08v1zm1.51-1h.09v1h-.08zm-3 1v-1h.08v1zm4.52-1h.09v1h-.08zm-6 .91l.07-1h.09l-.08 1zm7.54-1h.08l.07 1h-.08zm-9.06.86l.11-1h.08l-.11 1zm10.55-1h.08l.11 1h-.09zm-12.06.82l.13-1h.09l-.14 1zm13.54-1h.08l.14 1h-.08zm-15 .77l.16-1h.09l-.17 1zm16.53-1h.08l.17 1h-.09zm-18 .71l.2-1h.08l-.2 1zm19.5-1h.08l.19 1h-.08zm-21 .66l.23-1h.08l-.23 1zm22.45-1h.08l.22 1h-.07zm-23.93.6l.26-1h.07l-.25 1zm25.38-1h.08l.25 1h-.07zm-26.85.55L36 97h.08l-.29 1zM64 97h.08l.28 1h-.08zm-29.75.5l.32-1h.08l-.31 1zm31.17-1h.08l.32 1h-.08zM32.8 97l.35-1h.08l-.34 1zm34-.94h.08l.34 1h-.08zm-35.45.39l.38-.93h.07l-.37.93zm36.85-.92h.08l.37.94h-.08zm-38.2.31l.4-.93h.08l-.4.92zm39.63-.92h.08l.4.93h-.08zm-41 .28l.43-.9h.07l-.43.91zM71 94.29h.08l.43.91h-.08zm-43.74.24l.46-.89h.07l-.45.9zm45.09-.9h.07l.46.9h-.08zm-46.43.19l.48-.88h.08l-.49.88zm47.76-.9h.06l.48.88h-.07zm-49.08.14l.51-.86h.07l-.51.87zm50.37-.87h.07l.51.87h-.07zm-51.67.08l.54-.85h.07l-.54.85zm52.94-.87h.07l.54.85h-.07zM22 91.43l.56-.83.07.05-.57.83zm55.46-.85h.07l.57.83h-.07zm-56.71 0l.59-.82.06.05-.58.82zm57.94-.83h.06l.6.81-.07.05zm-59.16-.08l.61-.8.07.05-.62.8zm60.36-.82h.06l.62.8h-.07zm-61.56-.15l.64-.78.03.08-.64.77zm62.73-.8l.06-.05.64.77-.07.06zm-63.89-.18l.66-.76.06.06-.66.75zm65-.79l.06-.05.66.76h-.06zM16 86.7l.69-.74.06.06-.68.74zm67.28-.77l.06-.05.69.74h-.07zm-68.38-.28l.71-.72.06.06-.71.72zm69.46-.75l.06-.06.71.72-.06.06zm-70.53-.34l.73-.7.06.07-.73.69zm71.58-.72v-.06l.73.69-.06.06zm-72.62-.4l.75-.67.06.06-.75.68zm73.63-.7l.06-.06.75.67-.06.06zm-74.63-.45l.77-.65.05.07-.76.65zm75.61-.67l.06-.07.77.65-.06.07zm-76.58-.51l.79-.62v.06l-.78.63zm77.53-.65l.05-.06.79.62v.07zm-78.43-.55l.81-.61v.07L10 80zm79.37-.63v-.07l.81.6-.05.07zM9 78.67l.82-.58.05.07-.83.58zm81.14-.6V78l.83.58-.05.06zm-82-.66l.86-.56.05.08-.85.55zM91 76.83v-.07l.84.55v.08zm-83.65-.71l.86-.53v.07l-.86.53zm84.45-.55v-.07l.86.53v.07zM6.57 74.8l.87-.5v.08l-.88.5zm86-.51v-.07l.88.5v.07zm-86.74-.82l.89-.47v.08l-.89.47zM93.28 73v-.07l.89.47v.08zm-88.14-.89l.9-.45v.08l-.91.44zM94 71.66v-.08l.9.45v.07zm-89.52-.93l.92-.42v.07l-.92.42zm90.12-.42v-.07l.91.41v.08zm-90.73-1l.92-.38V69l-.93.39zM95.2 69v-.08l.93.39v.08zM3.3 68l.94-.35v.07l-.91.28zm92.45-.33v-.08l.94.36v.08zm-93-1.1l1-.33v.08l-1 .33zm93.5-.31v-.07l1 .33v.08zM2.29 65l1-.29v.08l-1 .3zm94.45-.26v-.08l1 .3v.08zM1.85 63.55l1-.27v.08l-1 .28zm95.32-.24v-.08l1 .27v.09zM1.46 62.08l1-.24v.08l-1 .24zm96.09-.21v-.08l1 .24v.08zM1.12 60.59l1-.21v.08l-1 .22zm96.77-.18v-.08l1 .22v.08zM.82 59.1l1-.18V59l-1 .18zm97.36-.1v-.08l1 .18v.08zM.57 57.6l1-.16v.09l-1 .15zm97.86-.12v-.09l1 .15v.09zM.36 56.09l1-.13v.09l-1 .12zM98.63 56v-.09l1 .12v.09zM.2 54.57l1-.09v.08l-1 .09zm98.59-.06v-.08l1 .09v.08zM.09 53.05l1-.06v.08l-1 .06zm98.82 0v-.08l1 .06v.08zM0 51.52h1v.09H0zm99 0v-.09h1v.09zm0-3.07h1v.09h-1zm-99 .04v-.08h1v.09zM98.9 47l1-.06V47h-1zM.09 47v-.08l1 .06V47zm98.7-1.5l1-.09v.08l-1 .1zM.2 45.45v-.09l1 .1v.08zM98.63 44l1-.13V44l-1 .12zM.36 43.94v-.09l1 .12v.08zm98.07-1.43l1-.16v.09l-1 .15zM.57 42.42v-.08l1 .15v.09zM98.18 41l1-.18v.08l-1 .18zM.82 40.92v-.08l1 .18v.08zm97.06-1.35l1-.22v.09l-1 .21zm-96.76-.15v-.08l1 .22v.08zm96.43-1.31l1-.24v.08l-1 .24zm-96.09-.17v-.08l1 .24v.08zm95.7-1.27l1-.28v.09l-1 .27zm-95.31-.21v-.08l1 .28v.08zm94.88-1.22l1-.31v.08l-1 .31zM2.28 35v-.08l1 .31v.08zm94-1.19l.95-.33v.08l-.95.33zm-93.5-.26v-.08l1 .33v.09zm93-1.14l.94-.37v.08l-.94.36zm-92.49-.29v-.08l.94.36v.08zm.56-1.41v-.08l.93.39v.08zm91.33.29l.93-.39v.07l-.93.39zM4.46 29.31v-.07l.91.42v.07zm90.12.33l.92-.41v.07l-.91.42zm-89.47-1.7v-.07l.9.44v.08zm88.83.35l.9-.44v.07l-.9.45zM5.8 26.59v-.08l.89.48v.07zm87.45.41l.89-.47v.07l-.89.47zM6.54 25.25v-.07l.87.5v.07zm86 .4l.87-.5v.07l-.87.5zM7.31 23.94l.05-.07.85.53v.07zm84.45.42l.86-.52v.07l-.86.53zm-83.63-1.7v-.07l.84.55v.07zM91 23.1l.84-.55v.07l-.84.55zM9 21.4v-.07l.82.58v.06zm81.14.47l.82-.58v.07l-.82.57zM9.87 20.16l.05-.07.81.61-.05.06zm79.37.5l.81-.61v.07l-.81.6zM10.8 19v-.06l.79.62-.05.07zm77.53.52l.78-.63.06.07-.79.63zm-76.57-1.7l.06-.06.77.65-.06.06zm75.62.55l.76-.66.06.07-.77.65zm-74.62-1.7l.06-.06.75.67-.06.07zm73.63.57l.75-.67.06.06-.75.67zM13.8 15.5l.06-.06.72.7-.05.06zm71.58.6l.72-.7.06.06-.73.7zm-70.51-1.68l.06-.06.7.72-.06.05zm69.46.58l.7-.71h.06l-.71.72zM16 13.36v-.06l.68.74-.06.06zm67.24.64l.69-.74.06.06-.69.74zM17.1 12.34l.06-.06.66.76-.06.06zm65 .67l.66-.76.06.05-.66.76zm-63.84-1.66h.07l.64.78-.07.05zM81 12l.64-.78.06.06-.64.78zm-61.54-1.6l.06-.05.62.8h-.07zm60.36.72l.61-.8h.07l-.62.8zM20.68 9.49l.07-.05.59.81-.07.05zm57.94.74l.59-.82.07.05-.59.81zM21.93 8.61H22l.56.84h-.07zm55.47.76l.6-.83h.07l-.56.84zm-54.2-1.6h.08l.54.85h-.08zm53 .78l.54-.85h.07l-.54.85zM24.51 7h.07l.51.87h-.07zm50.37.81l.51-.87h.07l-.46.88zm-49-1.57h.08l.48.88h-.07zm47.7.76l.49-.88h.07l-.49.88zm-46.4-1.51h.07l.46.89h-.07zm45.08.85l.46-.9h.08l-.46.9zM28.55 4.82h.08l.43.91h-.08zm42.38.86l.43-.91h.07l-.43.95zm-41-1.5h.08l.4.92h-.08zm39.63.89l.4-.93h.08l-.4.92zM31.35 3.59h.08l.37.93h-.08zm36.85.9l.37-.93h.08l-.38.93zM66.8 4l.35-1h.08l-.35 1zM32.78 3h.08l.34 1h-.08zm32.61.43l.31-1h.09l-.32 1zm-31.17-.89h.08l.32 1h-.08zM64 3l.29-1h.08L64 3zm-28.32-.92h.08L36 3zm26.84.54l.26-1h.08l-.26 1zm-25.38-1h.09l.25 1h-.08zm23.93.6l.23-1h.08l-.22 1zm-22.44-1h.08l.22 1h-.08zm21 .65l.2-1h.08l-.2 1zM40.12 1h.08l.2 1h-.09zm18 .71l.17-1h.08l-.16 1zM41.61.69h.09l.16 1h-.08zm15.06.76l.13-1h.09l-.14 1zM43.12.46h.09l.13 1h-.08zm12.06.81l.11-1h.08l-.1 1zM44.64.28h.08l.11 1h-.09zm9 .86l.08-1h.08l-.07 1zm-7.52-1h.07l.07 1h-.08zm6 .91v-1h.08v1zm-4.52-1h.08l.05 1h-.09zM49.2 0h.08v1h-.08zm1.51 1V0h.08v1z"></path></svg>
                          <div class="video-box">
                              <img loading="lazy" src="{{item.settings.article.image | img_url: '1920x'}}" alt="{{ item.settings.article.image.alt }}">
                          </div> 
                          <div class="border-box"></div>
                        </div>
                        <div class="dist">
                          <div>
                            
                          </div>
                        </div>
                        <div class="info-box">
                          <div class="center">
                          
                            <div class="box active">
                              <div class="title">
                                {{item.settings.article.title}}
                              </div>
                              <div class="description">
                                {{item.settings.article.content | strip_html}}
                              </div>
                            </div>
                          </div>
                          <div class="button-box">
                            <div class="befor">
                              
                            </div>
                            <a href="{{item.settings.article.url}}" class="button ">
                              {{section.settings.buttonText}}
                            </a>
                            <div class="after">
                
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  {%endfor%}

                {%endif%}
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>

  <script>
    (()=>{
      var swiper = new Swiper(".indexBolgSwiper", {
       
        centeredSlides: true,
        loop:true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        breakpoints: { 
            280: {  //当屏幕宽度大于等于768 
              spaceBetween: 30,
              slidesPerView: 1,
              
            },
            769: {  //当屏幕宽度大于等于768 
                slidesPerView: 1.5,
                spaceBetween: 30,
            }
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

      let rootDom = document.querySelector('.index-service-container')

      let buttonListLeft = Array.from(rootDom.querySelectorAll('.container .button_a'))
      let buttonList = Array.from(rootDom.querySelectorAll('.container .info-box .right .item'))
      let videoDomList = Array.from(rootDom.querySelectorAll('.video-back-box .video-box a'))
      let contentList = Array.from(rootDom.querySelectorAll('.info-box .center .box'))
      let bgImageDomList = Array.from(rootDom.querySelectorAll('.background-box img'))
      let cvs = rootDom.querySelector('#bgCanvas');
      var context = cvs.getContext('2d');
      let activeFlag = 1;
      $(".video-box ").find(".active-video").parent().siblings().hide()
      console.log($(".active-video").parent("a").siblings().hide())
      buttonList.forEach((e,i)=>{
        e.addEventListener('click',()=>{
          if(i != activeFlag) {
            buttonList.forEach(item=>{
              item.classList.remove('remove')
              item.classList.remove('active')   
            })
            
            buttonList[i].classList.add('active');
            buttonList[activeFlag].classList.add('remove');

            // 切换高度 保证选中模块垂直居中
            let boxDom = rootDom.querySelector('.container .info-box .right .box');
            let boxHeight = rootDom.querySelector('.container .info-box').getBoundingClientRect().height
            // boxDom.style.top = 0
            boxDom.style.top = `${190 - (132 * i)}px`

            // 切换视频
            videoDomList.forEach(item=>{
              item.classList.remove('remove-video')
              item.classList.remove('active-video')
            })
            videoDomList[i].classList.add('active-video');
            videoDomList[activeFlag].classList.add('remove-video');
           

            // 切换描述
            contentList.forEach(item=>{
              item.classList.remove('remove')
              item.classList.remove('active')
            })
            
            contentList[i].classList.add('active');
            contentList[activeFlag].classList.add('remove');

            // 
            buttonListLeft.forEach(item=>{
              item.classList.remove('remove')
              item.classList.remove('active')
            })
            
            buttonListLeft[i].classList.add('active');
            buttonListLeft[activeFlag].classList.add('remove');

            // 切换背景
            bgImageDomList[activeFlag].classList.remove('active');
            bgImageDomList[i].classList.add('active')

            activeFlag = i 
          }
        })
      })
      window.addEventListener('resize', ()=>{
        let infoBox = rootDom.querySelector('.info-box')
        let boxWidth = infoBox.getBoundingClientRect().width;
        let boxHeight = infoBox.getBoundingClientRect().height;
        cvs.setAttribute('width',`${boxWidth}px`)
        cvs.setAttribute('height',`${boxHeight}px`)

        

        context.beginPath();
        context.moveTo(0,0);
        context.strokeStyle = '#e0e0e0'; 
        context.lineTo (boxWidth-70,0);       
        context.lineTo (boxWidth,70);       
        context.lineTo (boxWidth,boxHeight);       
        context.lineTo (0,boxHeight);      
        context.lineTo (0,0);       
        context.stroke();  
      });
      window.addEventListener('DOMContentLoaded',()=>{
        FireEvent(buttonList[0],'click');


        // 背景canvas 设置宽高
        

        let infoBox = rootDom.querySelector('.info-box')
        let boxWidth = infoBox.getBoundingClientRect().width;
        let boxHeight = infoBox.getBoundingClientRect().height;
        cvs.setAttribute('width',`${boxWidth}px`)
        cvs.setAttribute('height',`${boxHeight+50}px`)

        

        context.beginPath();
        context.moveTo(0,0);
        context.strokeStyle = '#e0e0e0'; 
        context.lineTo (boxWidth-70,0);       
        context.lineTo (boxWidth,70);       
        context.lineTo (boxWidth,boxHeight);       
        context.lineTo (0,boxHeight);      
        context.lineTo (0,0);       
        context.stroke();  

        


      })
      function FireEvent(elem, eventName){
            if(typeof(elem) == 'object')
            {
                eventName = eventName.replace(/^on/i,'');
                if (document.all)
                {//
                    eventName = "on"+eventName;
                    elem.fireEvent(eventName);
                }
                else
                {
                    var evt = document.createEvent('HTMLEvents');
                    evt.initEvent(eventName,true,true);
                    elem.dispatchEvent(evt);
                }
            }
        
      }
    })()
  </script>

  {% schema %}
  {
  "name": "index service",
  "class": "index-service",
  "presets": [{
    "name": "index service",
    "settings": {
      
  
    }
  }],
  "blocks": [
    {
      "type": "blog",
      "name": "blog",
      "settings": [
      {
        "type": "article",
        "id": "article",
        "label": "article"
    
      },
        {
          "type": "image_picker",
          "id": "backgroundimage",
          "label": "background image"
        }
       
       
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "buttonText",
      "label": "button content"
    }, 
    {
      "type": "url",
      "id": "link",
      "label": "link"
    },   
   {
    "type": "blog",
    "id": "blog",
    "label": "blog"

   },
   {
    "type": "image_picker",
    "id": "backgroundimage_mobile",
    "label": "background image mobile"
  }
  ]
  }
  {% endschema %}


  <style>

  </style>

  {{ 'index-service.css' | asset_url | stylesheet_tag }}
