{{ 'jd-about-photoWall.css' | asset_url | stylesheet_tag }}
<div class="about_photoWall_all" >
    <div class="container">
       <div class="about_photoWall_box">
            <div class="about_photoWall_left">
                <div class="about_photoWall_leftTitle ebike_h1">
                    {{section.settings.title}}
                </div>
                <div class="about_photoWall_leftText">
                    {{section.settings.text}}
                </div>
                <a href="{{section.settings.link}}" class="about_photoWall_leftButton">
                    {{section.settings.button}}
                </a>
            </div>
            <div class="about_photoWall_right">
                <div class="about_photoWall_rightImg" style="background-image: url({{section.settings.img |img_url: '1200x'}};)">
                    <div class="about_photoWall_rightBoxImg">
                        <div class="swiper photoSwiperTop">
                            <div class="swiper-wrapper">
                                {%- for item in section.blocks-%}
                                    {%- case item.type-%}
                                        {% when 'photoTop' %}
                                            <div class="swiper-slide">
                                                <div class="Hideimg5">
                                                    <img loading="lazy" {% render 'image-attributes' , image: item.settings.img %}>
                                                </div>
                                            </div>
                                        {% endcase %}
                                   
                                {%- endfor-%}
                            </div>  
                        </div>
                    </div>
                    <div class="about_photoWall_rightBoxPosition">
                        <div class="swiper photoSwiper">
                            <div class="swiper-wrapper">
                                {%- for block in section.blocks-%}
                                    {%- case block.type-%}
                                        {% when 'photoWall' %}
                                        <div class="swiper-slide">
                                            <img loading="lazy" {% render 'image-attributes' , image: block.settings.img %}>
                                        </div>
                                    {% endcase %}
                                {%- endfor-%}
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <script>
    (()=>{
        
        var swiper1 = new Swiper(".photoSwiperTop", {
            centeredSlides: false,
            slidesPerView: 1,
            // touchRatio: 0.2,
            // slideToClickedSlide: true,
            autoplay: {
                delay:5000,
                disableOnInteraction: false,
            },
            // freeMode:true,
            speed: 2000,
            loop: true,		
           
       
        
      });
        var swiper1 = new Swiper(".photoSwiper", {
            centeredSlides: false,
            touchRatio: 0.2,
            slideToClickedSlide: true,
            autoplay: {
                delay:0,
                disableOnInteraction: false,
            },
            freeMode:true,
            speed: 8000,
            loop: true,		
            breakpoints: { 
                350: {  //当屏幕宽度大于等于768 
                    slidesPerView: 3,
                    spaceBetween: 5,
                },
                769: {  //当屏幕宽度大于等于768 
                    slidesPerView: 6,
                    spaceBetween: 10,
                }
            },
       
        
      });
    })()
  
  </script>
  {% schema %}
{
    "name": "photoWall",
    "class":"photoWall",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "text"
        },
        {
            "type": "richtext",
            "id": "button",
            "label": "button"
        },
        {
            "type": "url",
            "id": "link",
            "label": "link"
            
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "img"
        },
        {
            "type": "image_picker",
            "id": "img_right",
            "label": "right img"
        }
    ],
    "blocks":[
        {
            "type": "photoTop",
            "name": "photoTop",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "img"
                }
                
            ]
        },
        {
            "type": "photoWall",
            "name": "photoWall",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "img"
                }
            
            ]
        }
    ],
    "presets": [
        {
            "name": "photoWall"
        }
    ]
}
{% endschema %}
 