{% assign random_number = section.id  %}
{% if section.settings.lai_product != null and section.settings.lai_product != "" %}
    {%- assign product = all_products[section.settings.lai_product] -%}
{% endif %}
<script>
  var sectionConfig=  (typeof sectionConfig == "undefined" || sectionConfig == null) ? {
  } : sectionConfig;
  var scmCustomData=  (typeof scmCustomData == "undefined" || scmCustomData == null) ? {
  } : scmCustomData;
  var scmCustomDataWigetAll= (typeof scmCustomDataWigetAll == "undefined" || scmCustomDataWigetAll == null) ? [] : scmCustomDataWigetAll;
  scmCustomDataWigetAll['{{ random_number }}'] ={
    "id_iframe" : "{{ random_number }}",
    "productId" : "{{ product.id }}",
    "typePage" : 'productPage',
    "sectionConfig" : JSON.stringify(sectionConfig),
    "scmCustomData" : JSON.stringify(scmCustomData),
    'dataProduct' : []
  };
  sectionConfig= null;
  scmCustomData= null;
  scmCustomDataWigetAll['{{ random_number }}'].dataProduct['product']= {{ product | json }};
  {% for metafieldValue in  product.metafields.scm_review_importer %}
      scmCustomDataWigetAll['{{ random_number }}'].dataProduct['{{ metafieldValue[0] }}']= `{{ metafieldValue[1] | json }}`;
  {% endfor %}
</script>
<div class="scm-container" style="display: none;">
  <div class="scm-reviews-importer" data-product-id={{ product.id }}>
    <iframe class="scm-reviews-importer-iframe" width="100%" title="Sma reviews section Product Page" data-idIframe="{{ random_number }}"></iframe>
  </div>
</div>
{% schema %}
{
    "name": "LAI product reviews",
    "class": "index-section",
    "settings": [
        {
          "type": "product",
          "id": "lai_product",
          "label": "Choose Product"
        },
        {
          "type": "liquid",
          "id": "title",
          "label": "Product Reviews Title"
        }
    ],
    "presets": [{
    "name": "LAI product reviews",
    "category": "LAI Reviews"
    }]
}
{% endschema %}
