{% assign random_number = section.id  %}
<script>
  var sectionConfig=  (typeof sectionConfig == "undefined" || sectionConfig == null) ? {
  } : sectionConfig;
  var scmCustomData=  (typeof scmCustomData == "undefined" || scmCustomData == null) ? {
  } : scmCustomData;
  var scmCustomDataWigetAll= (typeof scmCustomDataWigetAll == "undefined" || scmCustomDataWigetAll == null) ? [] : scmCustomDataWigetAll;
  scmCustomDataWigetAll['{{ random_number }}'] ={
    "id_iframe" : "{{ random_number }}",
    "productId" : "",
    "typePage" : 'homePage',
    "sectionConfig" : JSON.stringify(sectionConfig),
    "scmCustomData" : JSON.stringify(scmCustomData),
    'dataProduct' : []
  };
  sectionConfig= null;
  scmCustomData= null;
</script>
<div class="scm-container" style="display: none;">
    <div class="{{ section.settings.class_wrap_title | escape }}">
        <h2 class="{% if section.settings.class_title %} {{ section.settings.class_title | escape }}{% else %}title-lai{% endif %}">{{ section.settings.title }}</h2>
    </div>
  <div class="scm-reviews-importer">
    <iframe class="scm-reviews-importer-iframe" width="100%" title="Sma reviews section Home Page" data-idIframe="{{ random_number }}" data-custom-section='{{ section.settings | json | escape }}'></iframe>
  </div>
</div>
  {% schema %}
    {
      "name": "LAI advanced widgets",
      "class": "index-section",
      "settings": [
      {
        "type": "liquid",
        "id": "title",
        "label": "Widget Title"
      },
      {
        "type": "paragraph",
        "content": "Need help to set up widgets? [Read our instruction.](https://laireviews.io/docs/settings/display/advanced-widgets/?utm_source=displaysetting&utm_medium=in-app) "
      },
      {
        "type": "select",
        "id": "type_layout",
        "label": "Widget type",
        "options": [
          {
            "value": "grid",
            "label": "Card grid"
          },
          {
            "value": "testimonial",
            "label": "Testimonial"
          },
          {
            "value": "gallery",
            "label": "Gallery"
          },
          {
            "value": "cardCarousel",
            "label": "Card Carousel"
          },
          {
            "value": "slug",
            "label": "Layout by slug"
          },
          {
            "value": "",
            "label": ""
          }
        ],
        "default": ""
      },
      {
        "type": "text",
        "id": "slug_layout",
        "label": "Slug layout"
      },
      {
        "type": "select",
        "id": "source",
        "label": "Review source",
        "options": [
          {
            "value": "homePage",
            "label": "Collection 1"
          },
          {
            "value": "happyPage",
            "label": "Collection 2"
          },
          {
            "value": "highlightProductPage",
            "label": "Collection 3"
          },
          {
            "value": "default_layout",
            "label": "Default"
          },
          {
            "value": "4",
            "label": "Use ID source custom"
          }
        ],
        "default": "default_layout"
        },
        {
          "type": "paragraph",
          "content": "Go [here](https://reviews.smartifyapps.com/login?redirectTo=/review-groups) to edit review collections."
        },
        {
          "type": "text",
          "id": "id_source_custom",
          "label": "Id source custom"
        },
        {
          "type": "header",
          "content": "Custom layout"
        },
        {
          "type": "text",
          "id": "background",
          "label": "Background color",
          "info": "Ex: #fff or transparent",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "width_container",
          "label": "Review widget width",
          "info": "Ex:1200px or 100%"
        },
        {
          "type": "checkbox",
          "id": "use_default_setting",
          "label": "Apply default layout setting",
          "default": false
        },
        {
          "type": "header",
          "content": "Advanced  settings"
        },
        {
          "type": "text",
          "id": "class_title",
          "label": "Class to style the title tag",
          "info": "Example: title for theme Dawn"
        },
        {
          "type": "text",
          "id": "class_wrap_title",
          "label": "Class to style the wrap title tag",
          "info": "Example: page-width for theme Dawn"
        }
      ],
        "presets": [{
        "name": "LAI  reviews",
        "category": "LAI Reviews"
      }]
    }
  {% endschema %}

